{% assign article = include.article %}
<div class="article-info">
    {% assign author_photo = site.data.autori[article.author].profilovka %}
    {% assign author_email = site.data.autori[article.author].mail %}
    {% assign author_bio = site.data.autori[article.author].bio %}
    <img src="/img/profiles/{{ author_photo }}"
        alt=""
        class="profile-picture">
    <ul class="list-unstyled">
        <li>{{ article.author }}
        {% if author_email != nil %}
        <li><a href="mailto:{{ author_email }}">{{ author_email }}</a>
        {% endif %}
        {% if author_bio != nil %}
        <li class="text-muted">{{ author_bio }}</li>
        {% endif %}
        <li>vyšlo {{ article.date | date: "%-d. %-m. %Y" }}
        {% if author_email == nil %}
        <li> </li>
        {% endif %}
    </ul>
</div>
