<div class="article-preview article-preview-small {{ include.class }}">
    <a href="{{ post.url }}">
        <div class="force-hd-aspect">
            {% if post.cover-photo %}
            <img src="{{ post.cover-photo }}" class='img-responsive' alt="titulní fotka článku">
            {% else %}
            <img src="/img/generic.png" class='img-responsive' alt="logo Ohlasů">
            {% endif %}
        </div>
        {% capture title %}
        {% if post.category == 'commentary' %}
            {{ post.author }}: {{ post.title }}
        {% else %}
            {{ post.title }}
        {% endif %}
        {% endcapture %}
        <h2>{{ title }} <small class="text-muted"> {{ post.date | date: "%-d. %-m." }}</small></h2>
    </a>
</div>
