<div class="article-preview {{ include.class }}">
    <a href="{{ post.url }}">
        {% if include.images == true %}
        <div class="force-hd-aspect">
            {% if post.cover-photo %}
            <img src="{{ post.cover-photo }}" class='img-responsive' alt="titulní fotka článku">
            {% else %}
            <img src="/img/generic.png" class='img-responsive' alt="logo Ohlasů">
            {% endif %}
        </div>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p class="article-perex">{{ post.excerpt | strip_html }}</p>
    </a>
    <p class="text-muted">¶ {{ post.author }}, {{ post.date | date: "%-d. %-m. %Y" }}</p>
</div>
