<div class="article-preview {{ include.class }}">
    <a href="{{ post.url }}">
        <div class="force-hd-aspect">
            {% if post.cover-photo %}
            <img src="{{ post.cover-photo }}" class='img-responsive' alt="titulní fotka článku">
            {% else %}
            <img src="/img/generic.png" class='img-responsive' alt="logo Ohlasů">
            {% endif %}
        </div>
        {% if post.category == 'commentary' %}
            <h2>{{ post.author }}: {{ post.title }}</h2>
        {% else %}
            <h2>{{ post.title }}</h2>
        {% endif %}
        <p class="article-perex">{{ post.excerpt | strip_html }}</p>
        <p class="text-muted article-meta">
            {{ post.author }} / {{ post.date | date: "%-d." }}
            {% assign month = post.date | date: "%-m" %}
            {% include czech-month-name.html month = month %}
        </p>
    </a>
</div>
