{% assign article = include.article %}
<div class="article-preview {{ include.class }}">
    <a href="{{ article.url }}">
        <div class="force-hd-aspect">
            {% if article.cover-photo %}
            <img src="{{ article.cover-photo }}" class='img-responsive' alt="titulní fotka článku">
            {% else %}
            <img src="/img/generic.png" class='img-responsive' alt="logo Ohlasů">
            {% endif %}
        </div>
        {% if article.category == 'názory a komentáře' %}
            <h2>{{ article.author }}: {{ article.title }}</h2>
        {% else %}
            <h2>{{ article.title }}</h2>
        {% endif %}
        <p class="article-perex">{{ article.excerpt | strip_html }}</p>
        <p class="text-muted article-meta">
            {{ article.author }} / {{ article.date | date: "%-d." }}
            {% assign month = article.date | date: "%-m" %}
            {% include czech-month-name.html month = month %}
        </p>
    </a>
</div>
