---
why: not
---
<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title="Ohlasy: Volební speciál 2016" %}
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="RSS">
    <meta property="og:image" content="http://i.imgur.com/oYwOCP5.jpg">
</head>
<body>
    <header class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>Volební speciál 2016</small></a></h1>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Podrobné výsledky krajských a senátních voleb si můžete
                přečíst <a href="http://ohlasy.info/clanky/2016/10/vysledky-voleb.html">
                v samostatném článku</a>. Stručně řečeno: v Jihomoravském kraji
                vyhrálo ANO, na druhém místě se co do počtu mandátů umístila
                ČSSD společně s KDU-ČSL. Do druhého kola senátních voleb, které
                se bude konat v pátek 14. a sobotu 15. října, postupují
                <a href="http://ohlasy.info/special/volby2016/dotaznik-vitkova.html">
                Jaromíra Vítková</a> a <a href="http://ohlasy.info/special/volby2016/dotaznik-machac.html">
                Jan Machač</a>. S oběma chystáme samostatný rozhovor.</p>
            </div>
        </div>

        <h2 class="row-header">Senátorský dotazník</h2>
        <div class="row row-indented">
            {% assign interviews = site.special | where: "feature", "volby2016" %}
            {% for interview in interviews %}
            {% include article/preview.html article=interview class="col-sm-4" %}
            {% endfor %}
        </div>

        <h2 class="row-header">Další články o politice</h2>
        {% include grid/nine.html items=site.tags.politika %}
    </div>

    {% include footer.html %}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script defer src="/lib/ad-rotate.js"></script>
</body>
</html>
