p {
    margin-bottom: 15px;
}

.navbar {
    margin-bottom: 30px;
}

/* Headers */

h2 {
    font-size: 200%;
    line-height: 1.2em;
}

h3 {
    font-size: 150%;
    text-transform: uppercase;
}

.header-indented {
    margin-bottom: 25px;
}

.main-header, .sidebar-header {
    margin-top: 0;
}

.sidebar-header {
    font-weight: normal;
    color: gray;
}

/* Article Infobox */

.article-info {
    padding: 20px;
    background: rgb(240, 240, 240);
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid silver;
}

.article-info ul {
    margin-top: 10px;
}

.article-info .profile-picture {
    margin-left: 0;
}

/* Images */

.profile-picture {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: -20px;
    float: left;
}

article .img-responsive {
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-framed {
    border: 1px solid #ddd;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
