/* Header */

header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px !important;
}

/* Article Previews */

.article-perex {
    font-style: italic;
}

.article-preview {
    margin-bottom: 30px;
}

.article-preview a, .article-preview a:hover {
    display: block;
    text-decoration: none;
    color: inherit;
    border: none;
}

.article-preview-small h2 {
    margin-top: .8ex;
    margin-bottom: 0;
    font-size: 120%;
    color: #444;
}

.article-meta {
    font-family: 'Dosis';
    text-transform: uppercase;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 120%;
    line-height: 0;
    color: #444;
}

.row-header span {
    background: white;
    padding-right: 1ex;
}
