/* Header */

header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px !important;
}

/* Article Previews */

.article-perex {
    line-height: 1.6em;
    font-style: italic;
}

.article-preview a, .article-preview a:hover {
    display: block;
    text-decoration: none;
    color: inherit;
    border: none;
}

.article-preview-small h2 {
    margin-top: .8ex;
    font-size: 130%;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-header {
    margin-bottom: 30px;
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
    font-family: 'PT Serif', serif;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 0;
    color: gray;
}

.row-header span {
    background: white;
    padding-right: 1ex;
}
