/* Header */

header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px !important;
}

/* Article Previews */

.article-perex {
    line-height: 1.6em;
    font-style: italic;
}

.article-preview a, .article-preview a:hover {
    display: block;
    text-decoration: none;
    color: inherit;
    border: none;
}

.article-preview {
    margin-bottom: 30px;
}

.force-hd-aspect {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.force-hd-aspect > img {
    position: absolute;
    top: 0;
    left: 0;
}

/* Wide Banner */

.banner-wide {
    background: rgb(248, 248, 248);
}

.banner-wide {
    margin-bottom: 10px;
}
