@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600&subset=latin,latin-ext);

body {
    font-family: 'PT Serif', serif;
    font-size: 19px;
    line-height: 1.5em;
    color: #444;
    counter-reset: most-read;
}

/* Site Header */

h1 {
    font-family: 'Dosis';
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(148, 82, 0);
    font-size: 250%;
    line-height: 1em;
}

h1 small {
    font-weight: 400;
    font-size: inherit;
    color: silver;
    white-space: nowrap;
}

@media (max-width: 640px) {
    h1 small {
        font-size: 50%;
    }
}

h1 a:hover {
    border: none;
}

h2, h3 {
    font-size: 130%;
    line-height: 1.4em;
    font-weight: bold;
}

/* Navigation */

.navbar {
    margin-bottom: 10px;
}

.row {
  overflow: hidden;
}

.row-indented {
    margin-bottom: 30px;
}

/* Article Previews, shared */

.article-grid {
    margin-bottom: 30px;
}

.row-header {
    text-transform: lowercase;
    margin-bottom: 10px;
    font-size: 120%;
    color: #444;
}

.row-header-indented {
    padding-left: 10px;
}

.article-preview {
    border-top: 1px solid #a3bddf;
    position: relative;
    overflow: hidden;
}

.article-preview a, .article-preview a:hover {
    display: block;
    text-decoration: none;
    color: inherit;
    border: none;
}

.fullheight {
    margin-bottom: -500px;
    padding-bottom: 500px;
    background: #eee;
}

.noborder {
    border: none;
}

/* Article Preview, Big */

.article-preview-big {
    border-top: 1px solid #a3bddf;
    background: #eee;
    margin-bottom: 30px;
}

.article-preview-text {
    padding-left: 10px;
    padding-right: 10px;
}

.article-preview-big h2 {
    font-size: 130%;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .article-preview-big h2 {
        font-size: 100%;
        position: absolute;
    }
}

.article-perex {
    font-size: 90%;
    position: absolute;
    font-style: italic;
    line-height: 1.53em;
}

.force-feature-aspect {
    height: 100%;
    padding-bottom: 73.5%;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

/* Article Preview, Middle */

.article-preview-middle h2 {
    font-weight: normal;
    font-size: 90%;
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 10px;
}

/* Article Preview, Small */

.article-preview-small {
    padding-bottom: 15px;
    height: 5em;
    margin-bottom: 0px;
}

.article-preview-small h2 {
    font-weight: normal;
    font-size: 90%;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    height: 4em;
    overflow: hidden;
    color: #444;
}

/* Footer */

footer {
    font-size: 90%;
    background: rgb(248, 248, 248);
    border-top: 1px solid #ddd;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 40px;
}

footer a {
    color: rgba(148, 82, 0, 0.7);
}

.nobreak {
    white-space: nowrap;
}

/* Promotion Ribbon */

.promo-ribbon {
    font-family: 'Dosis';
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
    display: block;
    width: 100%;
    background-color: #4b607b;
    color: white;
    padding: 1em;
}

.promo-ribbon:hover {
    background-color: #a94442;
    text-decoration: none;
    color: white;
    border: none;
}

/* Most Read Articles */

ol.most-read {
    font-size: 90%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.most-read li {
    counter-increment: most-read;
    position: relative;
    border-top: 1px solid #a3bddf;
    margin-left: 0;
}

.most-read li:before {
    content: counter(most-read);
    position: absolute;
    left: -20px;
    top: 10px;
    width: 50px;
    text-align: right;
    font-size: 200%;
    color: silver;
}

.most-read a {
    display: block;
    height: 5.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 50px;
    padding-top: 5px;
    color: black;
}

.most-read a:hover {
    color: black;
    border: none;
}

/* Boxes */

.box {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    background: #ddd;
    position: relative;
    margin-bottom: 30px;
}

.box:after, .box-wide:after {
    content: "reklama";
    position: absolute;
    -webkit-transform: rotate(90deg) translateX(100%) translateY(-100%);
    -webkit-transform-origin: top right;
    -ms-transform: rotate(90deg) translateX(100%) translateY(-100%);
    -ms-transform-origin: top right;
    transform: rotate(90deg) translateX(100%) translateY(-100%);
    transform-origin: top right;
    right: 0px;
    top: 0px;
    font-size: 10px;
    line-height: 10px;
    color: silver;
}

/* Content */

a {
    text-decoration: none;
    color: rgb(148, 82, 0);
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid rgba(148, 82, 0, 0.5);
    color: rgb(148, 82, 0);
    padding-bottom: -3px;
}

a.fancybox-close {
    border: none;
}

/* Images & Video */

.force-hd-aspect {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.force-hd-aspect > img, .force-hd-aspect > iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
}

iframe.vimeo {
    width: 100%;
    height: 100%;
}
