@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600&subset=latin,latin-ext);

body {
    font-family: 'PT Serif', serif;
    font-size: 19px;
    line-height: 1.5em;
    color: #444;
}

h1 {
    font-family: 'Dosis';
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(148, 82, 0);
    font-size: 250%;
    line-height: 1em;
}

h1 small {
    font-weight: 400;
    font-size: inherit;
    color: silver;
}

h1 a:hover {
    border: none;
}

h2, h3 {
    font-family: 'Dosis';
    font-weight: 400;
    font-size: 200%;
    text-transform: uppercase;
    line-height: 1.3em;
}

/* Article Previews */

.article-perex {
    font-style: italic;
}

.article-preview {
    margin-bottom: 30px;
}

.article-preview h2 {
    color: rgb(148, 82, 0);
}

.article-preview a, .article-preview a:hover {
    display: block;
    text-decoration: none;
    color: inherit;
    border: none;
}

.article-preview-small h2 {
    font-family: 'PT Serif', serif;
    text-transform: none;
    font-size: 100%;
    margin-top: 1ex;
    margin-bottom: 0;
    color: #444;
}

.article-meta {
    font-family: 'Dosis';
    text-transform: uppercase;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-header {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    font-size: 120%;
    line-height: 0;
    color: #444;
}

.row-header span {
    background: white;
    padding-right: 1ex;
}

/* Footer */

footer {
    background: rgb(248, 248, 248);
    border-top: 1px solid #ddd;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-top: 40px;
}

footer a {
    color: rgba(148, 82, 0, 0.7);
}

.nobreak {
    white-space: nowrap;
}

/* Boxes */

.box {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    background: #ddd;
    position: relative;
    margin-bottom: 30px;
}

.box:after {
    content: "reklama";
    position: absolute;
    -webkit-transform: rotate(90deg) translateX(100%) translateY(-100%);
    -webkit-transform-origin: top right;
    -ms-transform: rotate(90deg) translateX(100%) translateY(-100%);
    -ms-transform-origin: top right;
    transform: rotate(90deg) translateX(100%) translateY(-100%);
    transform-origin: top right;
    right: 0px;
    top: 0px;
    font-size: 10px;
    line-height: 10px;
    color: silver;
}

/* Content */

a {
    text-decoration: none;
    color: rgb(148, 82, 0);
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid rgba(148, 82, 0, 0.5);
    color: rgb(148, 82, 0);
    padding-bottom: -3px;
}

a.fancybox-close {
    border: none;
}

/* Images & Video */

.force-hd-aspect {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.force-hd-aspect > img, .force-hd-aspect > iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
}

iframe.vimeo {
    width: 100%;
    height: 100%;
}
