<main class="container">

    {% for post in paginator.posts | limit: 1 %}
    <div class="row">
        {% include article/preview.html class="col-md-8" featured=true %}
        <div class="col-md-4 hidden-xs">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="box"></div>
                </div>
                <div class="col-md-12 col-sm-6"><div class="box"></div></div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for post in paginator.posts | offset: 1 | limit: 1 %}
    <div class="row">
        {% include article/preview.html class="col-md-8 col-md-push-4" featured=true %}
        <div class="col-md-4 col-md-pull-8 hidden-xs">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    <div class="box"></div>
                </div>
                <div class="col-md-12 col-sm-6"><div class="box"></div></div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% assign items = paginator.posts | shift: 2 %}
    {% include pager/nest.html items=items caption="Další aktuální články" %}

    <h2 class="row-header"><span>Nejčtenější za posledních třicet dní</span></h2>
    <div class="row">
        {% for mostReadPost in site.data.nejctenejsi | limit: 2 %}
            {% if forloop.index == 2 %}
                <div class="col-sm-4 hidden-xs">
                    <div class="box"></div>
                </div>
            {% endif %}
            {% for post in site.posts %}
                {% if mostReadPost.url == post.url %}
                    {% include article/preview-small.html class="col-sm-4" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="row">
        {% for mostReadPost in site.data.nejctenejsi | offset: 2 | limit: 3 %}
            {% for post in site.posts %}
                {% if mostReadPost.url == post.url %}
                    {% include article/preview-small.html class="col-sm-4" %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

</main>
