<main class="container">

    <h2 class="row-header"><span>Starší články</span></h2>
    <div class="row">
        {% for post in paginator.posts | limit: 2 %}
        {% if forloop.index == 2 %}
            <div class="col-sm-4 hidden-xs">
                <div class="box"></div>
            </div>
        {% endif %}
        {% include article/preview-small.html class="col-sm-4" %}
        {% endfor %}
    </div>

    <div class="row">
        {% for post in paginator.posts | offset: 2 | limit: 3 %}
        {% include article/preview-small.html class="col-sm-4" %}
        {% endfor %}
    </div>

    <div class="row">
        {% for post in paginator.posts | offset: 5 %}
        {% if forloop.index == 2 %}
            <div class="col-sm-4 hidden-xs">
                <div class="box"></div>
            </div>
        {% endif %}
        {% include article/preview-small.html class="col-sm-4" %}
        {% endfor %}
    </div>

</main>
