<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><em>Ohlasy, noviny <span class="nobreak">pro Boskovice a okolí</span></em>
                    <li>vydává <a href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=1063835&typ=PLATNY">spolek šílenců</a>, <span class="nobreak">protože kdo jiný by dneska dělal noviny</span>
                    <li><a href="mailto:ohlasy@ohlasy.info">ohlasy@ohlasy.info</a> /
                        <a href="/inzerce.html">inzerce</a> /
                        <a href="http://predplatne.ohlasy.info/?utm_source=web&utm_campaign=predplatne&utm_medium=footer">předplatné</a> /
                        <a href="http://archiv.ohlasy.info">archiv článků</a> /
                        <a href="/podcast.html">podcast</a>
                    <li>+420 608 763 954
                    <li><a href="https://forum.ohlasy.info">Diskuzní fórum</a>
                    <li><a href="https://www.facebook.com/ohlasy">Facebook</a>
                </ul>
            </div>
            <div class="col-md-4">
                {% include search-form.html %}
            </div>
        </div>
    </div>
</footer>
