<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><em>Ohlasy, internetové noviny pro Boskovice a okolí</em>
                    <li>vydává spolek šílenců, protože kdo jiný by dneska dělal noviny
                    <li><a href="mailto:ohlasy@ohlasy.info">ohlasy@ohlasy.info</a>
                    <li><a href="/inzerce.html">inzerujte u nás!</a>
                    <li>+420 608 763 954
                    <li><a href="https://www.facebook.com/ohlasy">Facebook</a>
                </ul>
            </div>
        </div>
    </div>
</footer>
