<footer class="text-muted">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><em>Ohlasy, internetové noviny <span class="nobreak">pro Boskovice a okolí</span></em>
                    <li>vydává spolek šílenců, <span class="nobreak">protože kdo jiný by dneska dělal noviny</span>
                    <li><a href="mailto:ohlasy@ohlasy.info">ohlasy@ohlasy.info</a>, <a href="/inzerce.html">inzerujte u nás!</a>
                    <li>+420 608 763 954
                    <li><a href="https://www.facebook.com/ohlasy">Facebook</a>
                </ul>
            </div>
        </div>
    </div>
</footer>
