{% if paginator.total_pages > 1 %}
    <nav>
        <ul class="pager">
        {% if paginator.next_page %}
            <li><a href="/clanky/strana/{{ paginator.next_page }}">Starší články</a>
        {% else %}
            <li class="disabled"><span>Starší články</span>
        {% endif %}
        {% if paginator.previous_page == 1 %}
            <li><a href="/">Novější články</a>
        {% elsif paginator.previous_page %}
            <li><a href="/clanky/strana/{{ paginator.previous_page }}">Novější články</a>
        {% else %}
            <li class="disabled"><span>Novější články</span>
        {% endif %}
        </ul>
    </nav>
{% endif %}
