<script>
    function decorateSearch() {
        const searchBox = document.querySelector('#search-form .query');
        const hiddenSearchBox = document.querySelector('input[name="q"]');
        if (searchBox != null && hiddenSearchBox != null) {
            hiddenSearchBox.value = searchBox.value + " site:ohlasy.info";
        }
    }
</script>
<form id="search-form" action="https://www.google.cz/search" onsubmit="decorateSearch()">
    <div class="input-group input-group-md">
        <input type="hidden" name="q">
        <input type="text" class="query form-control" name="original-query" placeholder="klid duše" size="31">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" name="sa" value="hledej">
        </span>
    </div>
</form>