<main class="container">
    <div class="row">
        {% for post in paginator.posts | limit: 3 %}
        {% include article/preview.html class="col-md-4" images=true %}
        {% endfor %}
    </div>
</main>
<div class="banner-wide hidden-sm hidden-xs">
    <div class="container">
        <a href="mailto:ohlasy@ohlasy.info?Subject=Inzerce">
            <img src="/img/banner-wide.png" class="img-responsive" alt="Inzerujte u nás!">
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for post in paginator.posts | offset: 3 %}
        {% include article/preview.html class="col-md-4" images=false %}
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        {% include pagination/links.html %}
    </div>
</div>
