@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: serif;
  font-size: 19px;
  line-height: 1.5em;
  color: #444;
}

/* Section Dividers */

.section-divider {
  color: #555;
  font-size: 90%;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 40px;
}

.section-divider {
  overflow: hidden;
  text-align: center;
}

.section-divider:before,
.section-divider:after {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.section-divider:before {
  right: 0.5em;
  margin-left: -50%;
}

.section-divider:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Content */

a {
  text-decoration: none;
  color: rgb(148, 82, 0);
}

.article-content hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-content h3 {
  font-size: 150%;
  font-weight: bold;
  line-height: 1.3em;
  color: #444;
  text-transform: uppercase;
  margin-top: 1.2ex;
  margin-bottom: 0.2ex;
}

.article-content p {
  margin-bottom: 1ex;
}

.article-content blockquote {
  padding: 0;
  border-left: 4px solid rgb(148, 82, 0);
  padding-left: 2ex;
  margin-top: 2ex;
  margin-bottom: 2ex;
  font-style: italic;
}

.article-content ul {
  list-style: disc;
}

.article-content li {
  margin-bottom: 1ex;
}

@media (max-width: 1024px) {
  .article-content ul {
    list-style-position: inside;
  }
}

/* Tables */

table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

th {
  border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
