@import "tailwindcss";

@theme {
  --color-lightGray: #f8f8f8;
  --color-silver: #ddd;
  --color-gray: #c0c0c0;
  --color-brown: #945200;
  --color-offBlack: #444;
  --color-plum: #853b36;
}

@utility btn-base {
  @apply px-4 py-2 cursor-pointer disabled:cursor-not-allowed disabled:bg-gray text-lg text-center rounded-sm shadow-md;
}

@utility btn-primary {
  @apply btn-base bg-brown text-white;
}

@utility btn-inverted {
  @apply btn-base border-brown border-2 text-brown bg-white disabled:text-white disabled:border-none;
}

@utility typo-link {
  @apply text-brown;
}

body {
  font-family: serif;
  font-size: 19px;
  line-height: 1.5em;
  color: #444;
}

/* Content */

.article-content a {
  text-decoration: none;
  color: rgb(148, 82, 0);
}

.article-content hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-content h3 {
  font-size: 150%;
  font-weight: bold;
  line-height: 1.3em;
  color: #444;
  text-transform: uppercase;
  margin-top: 1.2ex;
  margin-bottom: 0.2ex;
}

.article-content p {
  margin-bottom: 1ex;
  hyphens: auto;
  text-wrap: pretty;
}

.article-content blockquote {
  padding: 0;
  border-left: 4px solid rgb(148, 82, 0);
  padding-left: 2ex;
  margin-top: 2ex;
  margin-bottom: 2ex;
  font-style: italic;
}

.article-content ol {
  list-style: decimal;
}

.article-content ul {
  list-style: disc;
}

.article-content li {
  margin-bottom: 1ex;
}

@media (max-width: 1024px) {
  .article-content ul,
  .article-content ol {
    list-style-position: inside;
  }
}

/* Tables */

table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

th {
  border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
