@import url(https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css);

body {
  font-family: serif;
  font-size: 19px;
  line-height: 1.5em;
  color: #444;
  counter-reset: article-counter;
}

/* Site Header */

.navbar {
  min-height: 0;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(148, 82, 0);
  font-size: max(min(5vw, 42px), 24px);
  margin-top: 1ex;
  margin-bottom: 0.8ex;
  line-height: 1em;
}

h1 small {
  font-weight: 400;
  font-size: inherit;
  color: silver;
}

h1 a:hover {
  border: none;
}

h2,
h3 {
  font-weight: bold;
  line-height: 1.3em;
  color: #444;
}

h2 {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 150%;
  text-transform: uppercase;
}

/* Navigation */

.navbar {
  margin-bottom: 30px;
}

.row {
  overflow: hidden;
}

.row-indented {
  margin-bottom: 30px;
}

/* Section Dividers */

.section-divider {
  color: #555;
  font-size: 90%;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 40px;
}

.section-divider {
  overflow: hidden;
  text-align: center;
}

.section-divider:before,
.section-divider:after {
  background-color: #ddd;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.section-divider:before {
  right: 0.5em;
  margin-left: -50%;
}

.section-divider:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Article Previews, shared */

.article-grid {
  margin-bottom: 30px;
}

.article-preview {
  position: relative;
  overflow: hidden;
}

.article-preview a,
.article-preview a:hover {
  display: block;
  text-decoration: none;
  color: inherit;
  border: none;
}

.fullheight {
  margin-bottom: -500px;
  padding-bottom: 500px;
  background: #eee;
}

.noborder {
  border: none;
}

@media (max-width: 640px) {
  .article-preview {
    margin-bottom: 1ex;
    padding-bottom: 0;
  }
}

/* Article Preview, Big */

.article-preview-big {
  background: #eee;
  margin-bottom: 30px;
}

.article-preview-text {
  padding-left: 10px;
  padding-right: 10px;
}

.article-preview-big h2 {
  font-size: 130%;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .article-preview-big h2 {
    font-size: 100%;
    position: absolute;
  }
}

.article-perex {
  font-size: 90%;
  position: absolute;
  font-style: italic;
  line-height: 1.53em;
}

.force-feature-aspect {
  height: 100%;
  padding-bottom: 73.5%;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

/* Article Preview, Middle */

.article-preview-middle {
  background: #eee;
}

.article-preview-middle h2 {
  font-weight: normal;
  font-size: 90%;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}

/* Article Preview, Small */

.article-preview-small {
  border-top: 1px dotted #ddd;
  padding-bottom: 15px;
  height: 5em;
  margin-bottom: 0px;
}

.article-preview-small h2 {
  font-weight: normal;
  font-size: 90%;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  height: 4em;
  overflow: hidden;
  color: #444;
}

/* Footer */

footer {
  font-size: 90%;
  background: rgb(248, 248, 248);
  border-top: 1px solid #ddd;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-top: 40px;
}

footer a {
  color: rgba(148, 82, 0, 0.7);
}

.nobreak {
  white-space: nowrap;
}

.powered-by {
  display: inline-block;
  margin-top: 20px;
}

.powered-by:hover {
  border: none;
}

/* Article Lists */

.article-list {
  font-size: 90%;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.article-list li {
  position: relative;
  margin-left: 0;
  margin-bottom: 10px;
}

.article-list li:not(:last-of-type) {
  border-bottom: 1px dotted #ddd;
}

.article-list a {
  display: block;
  height: 5.6em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
  color: black;
}

.article-list-dense a {
  height: 4em;
}

.article-list a:hover {
  color: black;
  border: none;
}

ol.article-list li {
  counter-increment: article-counter;
}

ol.article-list a {
  padding-left: 50px;
}

ol.article-list li:before {
  content: counter(article-counter);
  position: absolute;
  left: -20px;
  top: 10px;
  width: 50px;
  text-align: right;
  font-size: 200%;
  color: silver;
}

/* Forum */

.discourse-avatar {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 5px;
}

.forum-topic-list .row {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 0px;
}

.forum-topic-list .row:not(:last-of-type) {
  border-bottom: 1px dotted #ddd;
}

/* Boxes */

.box {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background: #ddd;
  position: relative;
  margin-bottom: 30px;
}

.box:after,
.box-wide:after {
  content: "reklama";
  position: absolute;
  transform: rotate(90deg) translateX(100%) translateY(-100%);
  transform-origin: top right;
  right: 0px;
  top: 0px;
  font-size: 10px;
  line-height: 10px;
  color: silver;
}

/* Content */

a {
  text-decoration: none;
  color: rgb(148, 82, 0);
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(148, 82, 0);
  color: rgb(148, 82, 0);
  padding-bottom: -3px;
}

article hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Headers */

.header-indented {
  margin-bottom: 25px;
}

.main-header,
.sidebar-header {
  margin-top: 0;
  line-height: 1.2em;
}

.sidebar-header {
  font-weight: normal;
  color: gray;
}

/* Tables */

table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-bottom: 30px;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.5ex 1ex 0.5ex 1ex;
}

th {
  border-bottom: 2px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

/* Article Infobox */

.article-info {
  padding: 20px;
  background: rgb(240, 240, 240);
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid silver;
}

.article-info ul {
  margin-top: 10px;
}

.article-info .profile-picture {
  margin-left: 0;
}

/* Image Captions */

.img-meta {
  display: block;
  margin-top: -20px;
  font-size: 90%;
  line-height: 1.4em;
  color: gray;
}

.img-author {
  text-transform: uppercase;
  font-size: 80%;
}

/* Images & Video */

.img-framed {
  border: 1px solid #ddd;
}

article .img-responsive {
  margin-top: 25px;
  margin-bottom: 25px;
}

.profile-picture {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: -120px;
  float: left;
}

.force-hd-aspect {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.force-43-aspect {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.force-hd-aspect > img,
.force-hd-aspect > iframe,
.force-43-aspect iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
}

iframe.vimeo,
iframe[src*="youtube"] {
  width: 100%;
  height: 100%;
}

iframe[src*="datawrapper"],
iframe[src*="datawrapper"],
iframe[src*="spotify"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
