---
title: "Ohlasy: Seriály"
cover-photo: http://i.imgur.com/7ZKP9Bp.jpg
excerpt: Seriály o krajině, historii a lidech Boskovicka
subtitle: Seriály
layout: special
---

<div class="block-intro">
    <h2>Krajiny Boskovicka / <span class="text-muted">Hynek Skořepa</span></h2>
    <div class="block-columned">
        <p>Seriálem Krajiny Boskovicka bych rád přiblížil některé zajímavé lokality
        Boskovicka. V okolí svého rodného města se pohybuji od malička. Opravdu vnímavě,
        alespoň částečně vybaven jistými přírodovědnými znalostmi, tak činím od svých
        studijních let na zdejším gymnáziu.</p>
        <p>Texty, ve kterých se pokusím popsat zajímavé kouty tohoto kraje, se v žádném
        případě nepokoušejí být texty odbornými (odborníci nechť jsou ke mně shovívaví,
        jejich odborným termínům by stejně málokdo rozuměl). Navíc se cítím být
        především geografem a správný geograf sice rozumí všemu, ale ničemu pořádně.
        Geografie je syntetická věda, propojující množství rozmanitých oborů. Největším
        uměním geografa je právě ona syntéza, vzájemné propojení, které specialistům
        dílčích oborů uniká.</p>
        <p>Spíš než o výčet různých druhů organismů a další přesné vědecké údaje
        v článcích půjde o jakési zachycení toho, jak na mne každé konkrétní místo
        zapůsobilo. Většinu lokalit jsem však navštívil mnohokrát, jednotlivé dojmy se
        mi často slévají dohromady, vzniká tak jakýsi „guláš“ vzpomínek.</p>
        <p>Naprosto souhlasím se slovy, které před lety napsal přírodovědec a spisovatel
        Miloslav Nevrlý ve své Nejkrásnější sbírce. Uvádí tam, že v rodné zemi (mohlo by
        se napsat i v rodném kraji) lze prožít plný, bohatý a nádherný život. Vědoucím
        touláním krajinou nikomu neuškodíte a sami sebe obohatíte. A co víc, během let
        si vytvoříte onu „nejkrásnější sbírku“, sbírku krajin, kterou vám již nikdo
        nemůže vzít. Ta zvláštní sbírka bude prosvětlovat váš život až do nejdelší
        smrti.</p>
        <p>Přeji vám radostné putování a lehké nohy!</p>
    </div>
</div>

{% assign articles = site.posts | where: "serial", "krajiny" %}
{% include grid/nine.html items=articles %}

<hr>

<div class="block-intro">
    <h2>Rendez-vous s jazykem / <span class="text-muted">Vít Boček</span></h2>
    <div class="block-columned">
        <p>Seriálem Rendez-vous s jazykem bych chtěl čtenářům průběžně
        přibližovat nejrůznější témata, která se týkají jazyka a mají úzkou
        souvislost s Boskovickem. Půjde například o seznámení s nářeční situací
        či s vybranými místními a pomístními jmény. Z Boskovicka také pochází
        celá řada osobností, které se později staly výraznými postavami
        v nejrůznějších jazykovědných či jiných blízkých humanitních oborech. I ty
        si budeme zejména při různých výročích připomínat. Uvítám také případné
        podněty z Vaší strany, pokud mi napíšete, jaká jazyková zákoutí našeho
        kraje by Vás zajímala. Věřím, že nepůjde o suchopárné schůze, ale o příjemná
        dostaveníčka – setkávání se s jazykem, fenoménem, který nejde příliš vidět,
        ale přitom je s námi vlastně neustále.</p>
    </div>
</div>
{% assign articles = site.posts | where: "serial", "jazyk" %}
{% include grid/nine.html items=articles %}

<hr>

<div class="block-intro">
    <h2>Z muzejního depozitáře / <span class="text-muted">Petr Vítámvás</span></h2>
    <div class="block-columned">
        <p>V čase překotných změn, kdy s postupujícím technickým pokrokem se
        proměňovalo i myšlení a chování lidí a rychle začaly zastarávat ať už
        předměty denní potřeby, vybavení domácností, pracovní pomůcky, nebo
        předměty kulturní hodnoty, a kdy si tyto skutečnosti začali někteří
        kultivovaní lidé uvědomovat, docházelo k zakládání muzeí a shromažďování
        těchto rychle mizejících dokladů historického vývoje společnosti; v této
        činnosti pokračují muzea dodnes.</p>
        <p>U veřejnosti má označení „muzejní depozitář“ poněkud tajemné až
        záhadné, a spíše negativní konotace, často neprávem. Všechny předměty
        prostě nemohou být vystaveny, a velká část z nich ani není takového
        charakteru, aby mohly být vystavovány (poškození, zlomkovitost,
        neatraktivnost), nebo by vystavením mohly utrpět škody. Přesto však
        jejich historická hodnota je předurčuje k tomu, aby byly uchovány i pro
        příští generace.</p>
        <p>V tomto seriálu zkusíme nahlédnout do muzejního depozitáře a
        vytáhnout na světlo internetu předměty, ke kterým se váže nějaký
        zajímavý příběh.</p>
    </div>
</div>
{% assign articles = site.posts | where: "serial", "depozitar" %}
{% include grid/five.html items=articles %}

<hr>

<div class="block-intro">
    <h2>Život pod stromy / <span class="text-muted">Martina Lukešová</span></h2>
    <div class="block-columned">
        <p><em>„Jsou stromy, které si budeš do smrti pamatovat jako některé lidské
        tváře; jsou stromy, které jsou téměř svaté.“ (Karel Čapek)</em></p>
        <p>Stromy jsou fascinující bytosti. Troufám si použít toto přirovnání a
        věřím, že mě čtenáři pochopí, protože už samotné slovo *strom* v mnohých
        z nás vyvolává pocit něčeho mohutného, úctyhodného, ale také
        přátelského. Lidé jsou se stromy propojeni odpradávna a já jsem velice
        ráda, že se navracíme k úctě ke stromům jako takovým, a ne jen jako k
        přírodnímu zdroji energie a stavebního materiálu. Možná jsou to jen
        romantické představy, že naši předkové stromy uctívali. Přesto jsem
        přesvědčena, že si stromy naši pozornost zaslouží. Mohou být cílem
        našich vycházek, místem k rozjímání, odpočinku, her, inspirací,
        vzpomínání, učení i pochopení toho, že jsme a budeme součástí přírody.
        Pod stromy se žije a o tom vám budu ze srdce ráda vyprávět.</p>
        <p>Představím vám zajímavé stromy z Boskovic a okolí. Budu se také
        snažit najít o těchto stromech zajímavé informace, ale jsem jen tichý
        pozorovatel a nikoli výzkumník. Moje postřehy mohou být osobní, někdy
        poetické. Prosím, nebojte se podělit o své zážitky se stromy. Je také
        dost pravděpodobné, že mi některé zajímavé stromy a informace unikly,
        budu proto velice ráda, když mě na ně upozorníte.</p>
    </div>
</div>
{% assign articles = site.posts | where: "serial", "stromy" %}
{% include grid/nine.html items=articles %}

<hr>

<div class="block-intro">
    <h2>Příběhy z ghetta / <span class="text-muted">Helena Janíková</span></h2>
    <div class="block-columned">
        <p>S boskovickou židovskou čtvrtí je spojena celá řada příběhů a zajímavých
        lidských osudů, často velmi pohnutých. A právě tyto příběhy bych vám v seriálu
        Příběhy z ghetta ráda vyprávěla. Mnohé z nich odkrývá ve svých publikacích
        PhDr. Jaroslav Bránský, největší odborník na historii Židů v Boskovicích.
        S jeho vědomím a laskavým souhlasem si dovoluji použít některé informace a údaje,
        jež jsem načerpala právě z jeho knih. Činím tak dnes a bude mi velkým potěšením
        činit tak i nadále, neboť věřte, že nad mnohými z příběhů boskovického ghetta
        se doslova tají dech. Nechť je tento seriál připomínkou lidí, kteří zde v
        časech dávno uplynulých prožívali své životy, své osudy, a já se o ně s vámi
        velmi ráda podělím.</p>
    </div>
</div>
{% assign articles = site.posts | where: "serial", "ghetto" %}
{% include grid/five.html items=articles %}

<hr>

<div class="block-intro">
    <h2>Pohledy do historie / <span class="text-muted">Petr Vítámvás</span></h2>
    <div class="block-columned">
        <p><em>„V dějinách hledáme a nacházíme svědectví, jak v proudu
        neustálých změn člověk znovu a znovu řeší konstantní problém, svůj úděl
        ve světě, problém své existence.“ (Jaroslav Marek)</em>
        <p>Boskovice a boskovický region mají bohatou a pestrou historii, a to
        nejen díky významným šlechtickým rodům pánů z Boskovic či pánů z
        Kunštátu, díky velkým tvůrčím osobnostem, které se zde narodily nebo sem
        přišly odjinud, ale i díky tisícům bezejmenných, kteří zde žili a
        pracovali, trpěli a snášeli různé nepřízně osudu či svých bližních,
        doufali v lepší příští a s nadějemi se obraceli k Bohu, a kteří se třeba
        jen nepatrným dílem zasloužili o to, jak dnešní svět a tento kus země
        vypadá.</p>
        <p>Pravidelně Vám, čtenářům, budu přinášet ukázky z toho, čím se právě
        zabývám a na čem pracuji. Nepůjde o nějaký soustavný přehled dějin
        Boskovic od nejstarších dob po dnešek, spíše o mozaiku různých témat z
        různých časových období, tak, jak mi přicházejí na stůl – ať už
        vyprovokovány dotazem badatele, výročím, tím, že se mi v rámci
        dlouhodobějšího úkolu podařilo uzavřít dílčí téma, anebo tím, že jsem
        při své práci narazil na nějakou zajímavost, o niž se rád podělím.</p>
    </div>
</div>
{% assign articles = site.posts | where: "serial", "historie" %}
{% include grid/five.html items=articles %}
