<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{ include.title }}</title>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59188934-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-59188934-1");
</script>

<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/shared.css?4" rel="stylesheet" />

<link rel="icon" type="image/png" href="/assets/favicon.png" />
