<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    <link href="/assets/article.css?1" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>dění na Boskovicku</small></a></h1>
        </div>
    </nav>
    <main class="container">
        <div class="row article-row">
            <article class="col-md-8">
                {% if page.category == 'názory a komentáře' %}
                    <h2 class="main-header">{{ page.author }}: {{ page.title }}</h2>
                {% else %}
                    <h2 class="main-header">{{ page.title }}</h2>
                {% endif %}
                {{ content }}
                <hr>
                <p>🎄 <em>Stejně jako se město neobejde bez novin, neobejdou se ani
                noviny bez čtenářů – pokud naše texty rádi čtete, <a href="https://www.darujme.cz/vyzva/1202765">přispějte nám
                prosím na provoz</a>. Jednorázově, nebo nejlépe pravidelně, stačí pár desetikorun měsíčně.
                Děláte to pro sebe!</em></p>
                {% include article/info.html article=page %}
            </article>
            {% if page.serial %}
            {% capture serial_id %}serials/{{ page.serial}}.md{% endcapture %}
            {% capture sidebar %}{% include {{serial_id}} %}{% endcapture %}
            <aside class="col-md-4 text-muted">
                <h2 class="sidebar-header">O seriálu</h2>
                {{ sidebar | markdownify }}
            </aside>
            {% elsif page.disable-ads != true %}
            <aside class="col-md-4 hidden-sm hidden-xs">
                <div class="box"></div>
                <div class="box"></div>
            </aside>
            {% endif %}
        </div>
    </main>

    {% if page.category %}
    <div class="container">
        {% assign current_category = page.category %}
        {% assign related_articles = site.array %}
        {% for candidate in site.categories[current_category] %}
            {% if candidate.url != page.url %}
                {% assign related_articles = related_articles | push: candidate %}
            {% endif %}
        {% endfor %}
        <h2 class="section-divider">další {{ current_category }}</h2>
        {% include grid/nine.html items=related_articles %}
    </div>
    {% endif %}

    {% include footer.html %}

    <script defer src="/assets/ad-rotate.js"></script>
</body>
</html>
