<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    {% include html/open-graph.html %}
    <link href="/style/article.css?1" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>dění na Boskovicku</small></a></h1>
        </div>
    </nav>
    <main class="container">
        <div class="row article-row">
            <article class="col-md-8">
                {% if page.category == 'názory a komentáře' %}
                    <h2 class="main-header">{{ page.author }}: {{ page.title }}</h2>
                {% else %}
                    <h2 class="main-header">{{ page.title }}</h2>
                {% endif %}
                {{ content }}
                <hr>
                <p><em>Provoz novin vyžaduje hodně práce a peněz. Ohlasy už pátým
                rokem dotujeme z vlastní kapsy, protože v nich vidíme smysl a možnost
                zlepšit život v našem regionu. Našli jsme dostatek čtenářů,
                kteří mají o naše texty zájem, ale zatím jen málo těch, kteří by
                nám přispěli finančně. Navzdory tomu ale nechceme naše texty uzamykat
                jen pro platící, záleží nám na tom, aby se dostaly k co největšímu
                počtu čtenářů. Jestli nás rádi čtete, zvažte prosím <a href="https://goo.gl/Ye8fcF">
                pořízení předplatného</a>. Bez dostatečného počtu platících čtenářů zanikneme.</em></p>
                {% include article/info.html article=page %}
            </article>
            {% if page.serial %}
            {% capture serial_id %}serials/{{ page.serial}}.md{% endcapture %}
            {% capture sidebar %}{% include {{serial_id}} %}{% endcapture %}
            <aside class="col-md-4 text-muted">
                <h2 class="sidebar-header">O seriálu</h2>
                {{ sidebar | markdownify }}
            </aside>
            {% elsif page.disable-ads != true %}
            <aside class="col-md-4 hidden-sm hidden-xs">
                <div class="box"></div>
                <div class="box"></div>
            </aside>
            {% endif %}
        </div>
    </main>

    {% if page.category %}
    <div class="container">
        {% assign current_category = page.category %}
        {% assign related_articles = site.array %}
        {% for candidate in site.categories[current_category] %}
            {% if candidate.url != page.url %}
                {% assign related_articles = related_articles | push: candidate %}
            {% endif %}
        {% endfor %}
        <h2>další {{ current_category }}</h2>
        {% include grid/nine.html items=related_articles %}
    </div>
    {% endif %}

    {% include footer.html %}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/popup-images.js"></script>
    <script defer src="/lib/ad-rotate.js"></script>
</body>
</html>
