<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    {% include html/open-graph.html %}
    <link href="/style/article.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>dění na Boskovicku</small></a></h1>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <article class="col-md-8">
                {% if page.category == 'commentary' %}
                    <h2>{{ page.author }}: {{ page.title }}</h2>
                {% else %}
                    <h2>{{ page.title }}</h2>
                {% endif %}
                {{ content }}
                {% include article/info.html article=page %}
            </article>
            {% if page.serial %}
            {% capture serial_id %}serials/{{ page.serial}}.md{% endcapture %}
            {% capture sidebar %}{% include {{serial_id}} %}{% endcapture %}
            <aside class="col-md-4 text-muted">
                <h2>O seriálu</h2>
                {{ sidebar | markdownify }}
            </aside>
            {% else %}
            <aside class="col-md-4 hidden-sm hidden-xs">
                <div class="box"></div>
                <div class="box"></div>
            </aside>
            {% endif %}
        </div>
    </main>

    {% include footer.html %}

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/local/popup-images.js"></script>
    <script defer src="/lib/local/ad-rotate.js"></script>
</body>
</html>

