<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    {% include html/open-graph.html %}
    <link href="/assets/front.css" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>{{ page.subtitle }}</small></a></h1>
        </div>
    </header>

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}

    <script defer src="/assets/ad-rotate.js"></script>
</body>
</html>
