<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    {% include html/open-graph.html %}
    <link href="/style/article.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <h1><a href="/">Ohlasy <small>dění na Boskovicku</small></a></h1>
        </div>
    </nav>

    <main class="container">
        <div class="row">
            <article class="col-lg-12 col-md-12">
                <div class="force-hd-aspect">
                    <iframe class="vimeo" src="{{ page.video-url }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </article>
        </div>
        <hr>
        <div class="row hidden-sm">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="box"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include footer.html %}

    <script defer src="/lib/ad-rotate.js"></script>
</body>
</html>
