<!DOCTYPE html>
<html lang="cs">
<head>
    {% include html/headers.html title=page.title %}
    {% include html/open-graph.html %}
    <link href="/style/article.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <h1><a href="/special/volby2016/">Ohlasy <small>Volební speciál 2016</small></a></h1>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <article class="col-md-8">
                <h2>Senátorský dotazník:<br>{{ page.title }}</h2>
                {{ content }}
                {% include article/info.html article=page %}
            </article>
            <aside class="col-md-4 hidden-sm">
                <h2 class="text-muted indented">Senátní volby 2016:<br>Protikandidáti</h2>
                <div class="row">
                    {% assign interviews = site.special | where: "feature", "volby2016" %}
                    {% for interview in interviews %}
                    {% if interview.title != page.title %}
                        {% include article/preview-small.html article=interview class="col-lg-12" %}
                    {% endif %}
                    {% endfor %}
                </div>
            </aside>
        </div>
    </main>

    <div class="container">
        <h2 class="row-header"><span>Další volební články</span></h2>
        <div class="row">
            {% for article in site.tags.volby %}
            {% include article/preview-small.html article=article class="col-sm-4" %}
            {% endfor %}
        </div>
    </div>

    {% include footer.html %}

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/popup-images.js"></script>
    <script defer src="/lib/ad-rotate.js"></script>
</body>
</html>
